<!-- Google Analytics (GA4) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CYDLTBTMTW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'G-CYDLTBTMTW', {
    'allow_google_signals': false,
    'allow_ad_personalization_signals': false,
    'restricted_data_processing': true,
    'url_passthrough': false
  });
</script>
