<h2>Recently updated</h2>



<ul>

{%- for note in collections.note -%}
<script>console.log("test3")</script>
<script>console.log("{{note.title}} - {{note.fileSlug}}")</script>

  <li>
    <a href="{{ note.url }}">{{ note.title or note.fileSlug }}</a>
  </li>
{%- endfor -%}
</ul>




<hr style="margin-top: 3rem; margin-bottom: 1rem; opacity: 0.5; border-top: 1px solid #ccc;">

<p style="text-align: center; font-size: 0.9rem; color: #777;">
  <a href="https://forms.gle/B5rkQCYMBTHrR6fDA" target="_blank" rel="noopener noreferrer"
     style="text-decoration: underline;">
    Send me a comment!
  </a>
</p>
